.title{
	text-align: center;
	font-size: 25px;
}
.right-box{
	position: relative;
}
.right-box label{
	position: absolute;
	left: 365px;
	margin-top: 30px;
	
}
#modif{
	position: absolute;
	width: 200px;
	border: solid red 1px;
	right: 423px;
	background-color: red;
	margin-top: 70px;
	text-align: center;
	letter-spacing: 10px;
}
#modif a{
	color: white;
}
